.profile-button,
.contacts-button,
.vehicle-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 14px 20px;
    margin-top: 20px;

    background: #ef3340;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 9px;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.profile-button:hover,
.contacts-button:hover,
.vehicle-button:hover {
    background: #d92d39;
    color: white;
}
.card button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    margin-top: 20px;

    background: #ef3340;
    color: white;
    border: none;
    border-radius: 9px;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}