<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vehicle.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vehicle Details - SafeRide</title>

</head>

<body>

    <div class="container">

        <h1>🚗 Vehicle Details</h1>

        <form method="POST">

            <label>Vehicle Number</label>
            <input type="text" name="vehicle_number" placeholder="e.g. UP81AB1234" required>

            <label>Vehicle Model</label>
            <input type="text" name="vehicle_model" placeholder="e.g. Honda City">

            <label>Vehicle Color</label>
            <input type="text" name="vehicle_color" placeholder="e.g. Black">

            <button type="submit">
                Save Vehicle
            </button>

        </form>

        {% if vehicle %}

        <div class="vehicle-box">

            <h2>Saved Vehicle</h2>

            <p>
                <strong>Number:</strong>
                {{ vehicle.vehicle_number }}
            </p>

            <p>
                <strong>Model:</strong>
                {{ vehicle.vehicle_model }}
            </p>

            <p>
                <strong>Color:</strong>
                {{ vehicle.vehicle_color }}
            </p>

        </div>

        {% endif %}

    </div>

</body>

</html>